.gradle/
/.idea/
/local.properties
.DS_Store
/build/
**/build/
.cxx/
*.iml
*.kts~
.kotlin/**
# Android
captures/
.externalNativeBuild/
# iOS
DerivedData/
*.xcworkspace/
*.xcodeproj/
!iosApp/
!iosApp/SumDiaryIOS.xcodeproj/
!iosApp/SumDiaryIOS.xcodeproj/project.pbxproj
!iosApp/SumDiaryIOS.xcodeproj/xcshareddata/
!iosApp/SumDiaryIOS.xcodeproj/xcshareddata/xcschemes/
!iosApp/SumDiaryIOS.xcodeproj/xcshareddata/xcschemes/SumDiary.xcscheme
*.xcuserdata/
# Kotlin/Native
.korge/
